<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ book.title }} - Details</title>
</head>
<body>
    <h1 style="text-align:center;">{{ book.title }}</h1>


    <div class="book-details-container">
        <div class="book-card">
            <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="Cover">
            <p><strong>Author:</strong> {{ book.author.name }}</p>
            <p><strong>Publication Year:</strong> {{ book.publication_year }}</p>
            <p><strong>ISBN:</strong> {{ book.isbn }}</p>
            <p><strong>Rating:</strong> {{ book.rating or 'Not rated' }}</p>
        </div>
    </div>


    <p style="margin-left:20px; margin-top:20px;"><a href="/">Back to Library</a></p>
</body>
</html>